@media only screen and (max-width: 768px) {
    .envolvente {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    .margin-configuracion {
        padding-left: 0;
   
    }
}
